<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="pragma" content="no-cache" />
        <title>Software Defined Access PoV</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/cui-basic.min.css') }}">
    </head>
    <body class="cui">
      <center>
        <div class="content-fluid">
            <main>
                <div class="content">
                    <div class="container">
                        <h1 class="base-margin-bottom">Software Defined Access PoV</h1>
                        <img src="{{ url_for('static', filename='img/network-intuitive.jpg') }}" width="75%"/>
			<p>
                          <h2>Connected to {{ hostname }} at {{ time }}</h2>
			</p>
                    </div>
                </div>
            </main>
        </div>
      </center>
    </body>
</html>
